@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso Unversity</h1>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <h2>Tere tulemast Contoso Unversitisse</h2>
    <p>
        Thomas-Henry Pärt
        TARpe23
        2024/2025
    </p>
   <div class="col-md-4"></div>
        <h2>Õpid palju asju</h2>
        <p>
        nagu näiteks MVC web äp tegemist
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/RyPaert">Minu github</a>
        </p>
    </div>
    <div class="col-md-4"></div>
        <h2>kolmas paan</h2>
        <p>
        blue hair blue tie hidden in your wifi
        </p>
    </div>
</div>
